src/main/xsd/LibraryElement.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema 
	targetNamespace="http://www.holobloc.com/xml/LibraryElement"
	xmlns:le="http://www.holobloc.com/xml/LibraryElement"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:jaxb="http://java.sun.com/xml/ns/jaxb" jaxb:version="1.0"
	elementFormDefault="qualified"
	attributeFormDefault="unqualified"
	version="1.0">  
	
 <xsd:annotation>
  <xsd:appinfo>
	<jaxb:globalBindings generateIsSetMethod="true"/>
  </xsd:appinfo>
 </xsd:annotation>

 <xsd:element name='Identification'>
  <xsd:complexType>
   <xsd:attribute name='Standard' type='xsd:string' use='optional'/>
   <xsd:attribute name='Classification' type='xsd:string' use='optional'/>
   <xsd:attribute name='ApplicationDomain' type='xsd:string' use='optional'/>
   <xsd:attribute name='Function' type='xsd:string' use='optional'/>
   <xsd:attribute name='Type' type='xsd:string' use='optional'/>
   <xsd:attribute name='Description' type='xsd:string' use='optional'/>
  </xsd:complexType>
 </xsd:element>

 <xsd:element name='VersionInfo'>
  <xsd:complexType>
   <xsd:attribute name='Organization' type='xsd:string' use='required'/>
   <xsd:attribute name='Version' type='xsd:string' use='required'/>
   <xsd:attribute name='Author' type='xsd:string' use='required'/>
   <xsd:attribute name='Date' type='xsd:string' use='required'/>
   <xsd:attribute name='Remarks' type='xsd:string' use='optional'/>
  </xsd:complexType>
 </xsd:element>

 <xsd:element name='CompilerInfo'>
  <xsd:complexType>
   <xsd:sequence>
    <xsd:element ref='le:Compiler' minOccurs='0' maxOccurs='unbounded'/>
   </xsd:sequence>
   <xsd:attribute name='header' type='xsd:string' use='optional'/>
   <xsd:attribute name='classdef' type='xsd:string' use='optional'/>
  </xsd:complexType>
 </xsd:element>

 <xsd:element name='Compiler'>
  <xsd:complexType>
   <xsd:attribute name='Language' use='required'>
    <xsd:simpleType>
     <xsd:restriction base='xsd:string'>
      <xsd:enumeration value='Java'/>
      <xsd:enumeration value='Cpp'/>
      <xsd:enumeration value='C'/>
      <xsd:enumeration value='Other'/>
     </xsd:restriction>
    </xsd:simpleType>
   </xsd:attribute>
   <xsd:attribute name='Vendor' type='xsd:string' use='required'/>
   <xsd:attribute name='Product' type='xsd:string' use='required'/>
   <xsd:attribute name='Version' type='xsd:string' use='required'/>
  </xsd:complexType>
 </xsd:element>

 <xsd:element name='FBNetwork'>
  <xsd:annotation>
   <xsd:appinfo>
    <jaxb:class name="JaxbFBNetwork"/>
   </xsd:appinfo>
  </xsd:annotation>  
  <xsd:complexType>
   <xsd:sequence>
    <xsd:element ref='le:FB' minOccurs='0' maxOccurs='unbounded'/>
    <xsd:element ref='le:EventConnections' minOccurs='0' maxOccurs='1'/>
    <xsd:element ref='le:DataConnections' minOccurs='0' maxOccurs='1'/>
    <xsd:element ref='le:AdapterConnections' minOccurs='0' maxOccurs='1'/>
   </xsd:sequence>
  </xsd:complexType>
 </xsd:element>

 <xsd:element name='FB'>
  <xsd:complexType>
   <xsd:sequence>
    <xsd:element ref='le:Parameter' minOccurs='0' maxOccurs='unbounded'/>
   </xsd:sequence>
   <xsd:attribute name='Name' type='xsd:string' use='required'/>
   <xsd:attribute name='Type' type='xsd:string' use='required'/>
   <xsd:attribute name='Comment' type='xsd:string' use='optional'/>
   <xsd:attribute name='x' type='xsd:float' use='optional'/>
   <xsd:attribute name='y' type='xsd:float' use='optional'/>
  </xsd:complexType>
 </xsd:element>

 <xsd:element name='EventConnections'>
  <xsd:complexType>
   <xsd:sequence>
    <xsd:element ref='le:Connection' maxOccurs='unbounded'/>
   </xsd:sequence>
  </xsd:complexType>
 </xsd:element>

 <xsd:element name='DataConnections'>
  <xsd:complexType>
   <xsd:sequence>
    <xsd:element ref='le:Connection' maxOccurs='unbounded'/>
   </xsd:sequence>
  </xsd:complexType>
 </xsd:element>

 <xsd:element name='AdapterConnections'>
  <xsd:complexType>
   <xsd:sequence>
    <xsd:element ref='le:Connection' maxOccurs='unbounded'/>
   </xsd:sequence>
  </xsd:complexType>
 </xsd:element>

 <xsd:element name='Connection'>
  <xsd:annotation>
   <xsd:appinfo>
    <jaxb:class name="JaxbConnection"/>
   </xsd:appinfo>
  </xsd:annotation>  
  <xsd:complexType>
   <xsd:attribute name='Source' type='xsd:string' use='required'/>
   <xsd:attribute name='Destination' type='xsd:string' use='required'/>
   <xsd:attribute name='Comment' type='xsd:string' use='optional'/>
   <xsd:attribute name='dx1' type='xsd:string' use='optional'/>
   <xsd:attribute name='dx2' type='xsd:string' use='optional'/>
   <xsd:attribute name='dy' type='xsd:string' use='optional'/>
  </xsd:complexType>
 </xsd:element>

 <xsd:element name='FBType'>
   <xsd:annotation>
   <xsd:appinfo>
     <jaxb:class name="JaxbFBType"/>
   </xsd:appinfo>
   </xsd:annotation>  
  <xsd:complexType>
   <xsd:sequence>
    <xsd:element ref='le:Identification' minOccurs='0' maxOccurs='1'/>
    <xsd:element ref='le:VersionInfo' maxOccurs='unbounded'/>
    <xsd:element ref='le:CompilerInfo' minOccurs='0' maxOccurs='1'/>
    <xsd:element ref='le:InterfaceList'/>
    <xsd:choice minOccurs='0' maxOccurs='1'>
     <xsd:element ref='le:BasicFB'/>
     <xsd:element ref='le:FBNetwork'/>
    </xsd:choice>
    <xsd:element ref='le:Service' minOccurs='0' maxOccurs='1'/>
   </xsd:sequence>
   <xsd:attribute name='Name' type='xsd:string' use='required'/>
   <xsd:attribute name='Comment' type='xsd:string' use='optional'/>
  </xsd:complexType>
 </xsd:element>

 <xsd:element name='InterfaceList'>
  <xsd:complexType>
   <xsd:sequence>
    <xsd:element ref='le:EventInputs' minOccurs='0' maxOccurs='1'/>
    <xsd:element ref='le:EventOutputs' minOccurs='0' maxOccurs='1'/>
    <xsd:element ref='le:InputVars' minOccurs='0' maxOccurs='1'/>
    <xsd:element ref='le:OutputVars' minOccurs='0' maxOccurs='1'/>
    <xsd:element ref='le:Sockets' minOccurs='0' maxOccurs='1'/>
    <xsd:element ref='le:Plugs' minOccurs='0' maxOccurs='1'/>
   </xsd:sequence>
  </xsd:complexType>
 </xsd:element>

 <xsd:element name='EventInputs'>
  <xsd:complexType>
   <xsd:sequence>
    <xsd:element ref='le:Event' maxOccurs='unbounded'/>
   </xsd:sequence>
  </xsd:complexType>
 </xsd:element>

 <xsd:element name='EventOutputs'>
  <xsd:complexType>
   <xsd:sequence>
    <xsd:element ref='le:Event' maxOccurs='unbounded'/>
   </xsd:sequence>
  </xsd:complexType>
 </xsd:element>

 <xsd:element name='InputVars'>
  <xsd:complexType>
   <xsd:sequence>
    <xsd:element ref='le:VarDeclaration' maxOccurs='unbounded'/>
   </xsd:sequence>
  </xsd:complexType>
 </xsd:element>

 <xsd:element name='OutputVars'>
  <xsd:complexType>
   <xsd:sequence>
    <xsd:element ref='le:VarDeclaration' maxOccurs='unbounded'/>
   </xsd:sequence>
  </xsd:complexType>
 </xsd:element>

 <xsd:element name='Sockets'>
  <xsd:complexType>
   <xsd:sequence>
    <xsd:element ref='le:AdapterDeclaration' maxOccurs='unbounded'/>
   </xsd:sequence>
  </xsd:complexType>
 </xsd:element>

 <xsd:element name='Plugs'>
  <xsd:complexType>
   <xsd:sequence>
    <xsd:element ref='le:AdapterDeclaration' maxOccurs='unbounded'/>
   </xsd:sequence>
  </xsd:complexType>
 </xsd:element>

 <xsd:element name='Event'>
  <xsd:annotation>
   <xsd:appinfo>
    <jaxb:class name="JaxbEvent"/>
   </xsd:appinfo>
  </xsd:annotation>  
  <xsd:complexType>
   <xsd:sequence>
    <xsd:element ref='le:With' minOccurs='0' maxOccurs='unbounded'/>
   </xsd:sequence>
   <xsd:attribute name='Name' type='xsd:string' use='required'/>
   <xsd:attribute name='Type' type='xsd:string' use='optional'/>
   <xsd:attribute name='Comment' type='xsd:string' use='optional'/>
  </xsd:complexType>
 </xsd:element>

 <xsd:element name='With'>
  <xsd:complexType>
   <xsd:attribute name='Var' type='xsd:string' use='required'/>
  </xsd:complexType>
 </xsd:element>

 <xsd:element name='VarDeclaration'>
  <xsd:complexType>
   <xsd:attribute name='Name' type='xsd:string' use='required'/>
   <xsd:attribute name='Type' type='xsd:string' use='required'/>
   <xsd:attribute name='ArraySize' type='xsd:int' use='optional'/>
   <xsd:attribute name='InitialValue' type='xsd:string' use='optional'/>
   <xsd:attribute name='Comment' type='xsd:string' use='optional'/>
  </xsd:complexType>
 </xsd:element>

 <xsd:element name='AdapterDeclaration'>
  <xsd:complexType>
   <xsd:sequence>
    <xsd:element ref='le:Parameter' minOccurs='0' maxOccurs='unbounded'/>
   </xsd:sequence>
   <xsd:attribute name='Name' type='xsd:string' use='required'/>
   <xsd:attribute name='Type' type='xsd:string' use='required'/>
   <xsd:attribute name='Comment' type='xsd:string' use='optional'/>
  </xsd:complexType>
 </xsd:element>

 <xsd:element name='BasicFB'>
  <xsd:complexType>
   <xsd:sequence>
    <xsd:element ref='le:InternalVars' minOccurs='0' maxOccurs='1'/>
    <xsd:element ref='le:ECC' minOccurs='0' maxOccurs='1'/>
    <xsd:element ref='le:Algorithm' minOccurs='0' maxOccurs='unbounded'/>
   </xsd:sequence>
  </xsd:complexType>
 </xsd:element>

 <xsd:element name='InternalVars'>
  <xsd:complexType>
   <xsd:sequence>
    <xsd:element ref='le:VarDeclaration' maxOccurs='unbounded'/>
   </xsd:sequence>
  </xsd:complexType>
 </xsd:element>

 <xsd:element name='ECC'>
  <xsd:complexType>
   <xsd:sequence>
    <xsd:element ref='le:ECState' maxOccurs='unbounded'/>
    <xsd:element ref='le:ECTransition' maxOccurs='unbounded'/>
   </xsd:sequence>
  </xsd:complexType>
 </xsd:element>

 <xsd:element name='ECState'>
  <xsd:annotation>
   <xsd:appinfo>
    <jaxb:class name="JaxbECState"/>
   </xsd:appinfo>
  </xsd:annotation>  
  <xsd:complexType>
   <xsd:sequence>
    <xsd:element ref='le:ECAction' minOccurs='0' maxOccurs='unbounded'/>
   </xsd:sequence>
   <xsd:attribute name='Name' type='xsd:string' use='required'/>
   <xsd:attribute name='Comment' type='xsd:string' use='optional'/>
   <xsd:attribute name='x' type='xsd:float' use='optional'/>
   <xsd:attribute name='y' type='xsd:float' use='optional'/>
  </xsd:complexType>
 </xsd:element>

 <xsd:element name='ECTransition'>
  <xsd:annotation>
   <xsd:appinfo>
    <jaxb:class name="JaxbECTransition"/>
   </xsd:appinfo>
  </xsd:annotation>  
  <xsd:complexType>
   <xsd:attribute name='Source' type='xsd:string' use='required'/>
   <xsd:attribute name='Destination' type='xsd:string' use='required'/>
   <xsd:attribute name='Condition' type='xsd:string' use='required'/>
   <xsd:attribute name='Comment' type='xsd:string' use='optional'/>
   <xsd:attribute name='x' type='xsd:float' use='optional'/>
   <xsd:attribute name='y' type='xsd:float' use='optional'/>
  </xsd:complexType>
 </xsd:element>

 <xsd:element name='ECAction'>
  <xsd:annotation>
   <xsd:appinfo>
    <jaxb:class name="JaxbECAction"/>
   </xsd:appinfo>
  </xsd:annotation>  
  <xsd:complexType>
   <xsd:attribute name='Algorithm' type='xsd:string' use='optional'/>
   <xsd:attribute name='Output' type='xsd:string' use='optional'/>
  </xsd:complexType>
 </xsd:element>

 <xsd:element name='Algorithm'>
  <xsd:annotation>
   <xsd:appinfo>
    <jaxb:class name="JaxbAlgorithm"/>
   </xsd:appinfo>
  </xsd:annotation>  
  <xsd:complexType>
   <xsd:choice>
    <xsd:element ref='le:FBD'/>
    <xsd:element ref='le:ST'/>
    <xsd:element ref='le:LD'/>
    <xsd:element ref='le:Other'/>
   </xsd:choice>
   <xsd:attribute name='Name' type='xsd:string' use='required'/>
   <xsd:attribute name='Comment' type='xsd:string' use='optional'/>
  </xsd:complexType>
 </xsd:element>

 <xsd:element name='FBD'>
  <xsd:complexType>
   <xsd:sequence>
    <xsd:element ref='le:FB' maxOccurs='unbounded'/>
    <xsd:element ref='le:DataConnections'/>
   </xsd:sequence>
  </xsd:complexType>
 </xsd:element>

 <xsd:element name='ST'>
  <xsd:complexType>
   <xsd:attribute name='Text' type='xsd:string' use='required'/>
  </xsd:complexType>
 </xsd:element>

 <xsd:element name='LD'>
  <xsd:complexType>
   <xsd:sequence>
    <xsd:element ref='le:Rung' maxOccurs='unbounded'/>
   </xsd:sequence>
  </xsd:complexType>
 </xsd:element>

 <xsd:element name='Rung'>
  <xsd:complexType>
   <xsd:attribute name='Output' type='xsd:string' use='required'/>
   <xsd:attribute name='Expression' type='xsd:string' use='required'/>
   <xsd:attribute name='Comment' type='xsd:string' use='optional'/>
  </xsd:complexType>
 </xsd:element>

 <xsd:element name='Other'>
  <xsd:complexType>
   <xsd:attribute name='Language' type='xsd:string' use='required'/>
   <xsd:attribute name='Text' type='xsd:string' use='required'/>
  </xsd:complexType>
 </xsd:element>

 <xsd:element name='Service'>
  <xsd:complexType>
   <xsd:sequence>
    <xsd:element ref='le:ServiceSequence' maxOccurs='unbounded'/>
   </xsd:sequence>
   <xsd:attribute name='RightInterface' type='xsd:string' use='required'/>
   <xsd:attribute name='LeftInterface' type='xsd:string' use='required'/>
   <xsd:attribute name='Comment' type='xsd:string' use='optional'/>
  </xsd:complexType>
 </xsd:element>

 <xsd:element name='ServiceSequence'>
  <xsd:complexType>
   <xsd:sequence>
    <xsd:element ref='le:ServiceTransaction' minOccurs='0' maxOccurs='unbounded'/>
   </xsd:sequence>
   <xsd:attribute name='Name' type='xsd:string' use='required'/>
   <xsd:attribute name='Comment' type='xsd:string' use='optional'/>
  </xsd:complexType>
 </xsd:element>

 <xsd:element name='ServiceTransaction'>
  <xsd:complexType>
   <xsd:sequence>
    <xsd:element ref='le:InputPrimitive' minOccurs='0' maxOccurs='1'/>
    <xsd:element ref='le:OutputPrimitive' minOccurs='0' maxOccurs='unbounded'/>
   </xsd:sequence>
  </xsd:complexType>
 </xsd:element>

 <xsd:element name='InputPrimitive'>
  <xsd:complexType>
   <xsd:attribute name='Interface' type='xsd:string' use='required'/>
   <xsd:attribute name='Event' type='xsd:string' use='required'/>
   <xsd:attribute name='Parameters' type='xsd:string' use='optional'/>
  </xsd:complexType>
 </xsd:element>

 <xsd:element name='OutputPrimitive'>
  <xsd:complexType>
   <xsd:attribute name='Interface' type='xsd:string' use='required'/>
   <xsd:attribute name='Event' type='xsd:string' use='required'/>
   <xsd:attribute name='Parameters' type='xsd:string' use='optional'/>
  </xsd:complexType>
 </xsd:element>

 <xsd:element name='AdapterType'>
  <xsd:complexType>
   <xsd:sequence>
    <xsd:element ref='le:Identification' minOccurs='0' maxOccurs='1'/>
    <xsd:element ref='le:VersionInfo' maxOccurs='unbounded'/>
    <xsd:element ref='le:CompilerInfo' minOccurs='0' maxOccurs='1'/>
    <xsd:element ref='le:InterfaceList'/>
    <xsd:element ref='le:Service' minOccurs='0' maxOccurs='1'/>
   </xsd:sequence>
   <xsd:attribute name='Name' type='xsd:string' use='required'/>
   <xsd:attribute name='Comment' type='xsd:string' use='optional'/>
  </xsd:complexType>
 </xsd:element>

 <xsd:element name='ResourceType'>
  <xsd:annotation>
   <xsd:appinfo>
    <jaxb:class name="JaxbResourceType"/>
   </xsd:appinfo>
  </xsd:annotation>
  <xsd:complexType>
   <xsd:sequence>
    <xsd:element ref='le:Identification' minOccurs='0' maxOccurs='1'/>
    <xsd:element ref='le:VersionInfo' maxOccurs='unbounded'/>
    <xsd:element ref='le:CompilerInfo' minOccurs='0' maxOccurs='1'/>
    <xsd:element ref='le:FBTypeName' minOccurs='0' maxOccurs='unbounded'/>
    <xsd:element ref='le:VarDeclaration' minOccurs='0' maxOccurs='unbounded'/>
    <xsd:element ref='le:FBNetwork'/>
   </xsd:sequence>
   <xsd:attribute name='Name' type='xsd:string' use='required'/>
   <xsd:attribute name='Comment' type='xsd:string' use='optional'/>
  </xsd:complexType>
 </xsd:element>

 <xsd:element name='FBTypeName'>
  <xsd:complexType>
   <xsd:attribute name='Name' type='xsd:string' use='required'/>
  </xsd:complexType>
 </xsd:element>

 <xsd:element name='DeviceType'>
  <xsd:annotation>
   <xsd:appinfo>
    <jaxb:class name="JaxbDeviceType"/>
   </xsd:appinfo>
  </xsd:annotation>
  <xsd:complexType>
   <xsd:sequence>
    <xsd:element ref='le:Identification' minOccurs='0' maxOccurs='1'/>
    <xsd:element ref='le:VersionInfo' maxOccurs='unbounded'/>
    <xsd:element ref='le:CompilerInfo' minOccurs='0' maxOccurs='1'/>
    <xsd:element ref='le:VarDeclaration' minOccurs='0' maxOccurs='unbounded'/>
    <xsd:element ref='le:ResourceTypeName' minOccurs='0' maxOccurs='unbounded'/>
    <xsd:element ref='le:Resource' minOccurs='0' maxOccurs='unbounded'/>
    <xsd:element ref='le:FBNetwork' minOccurs='0' maxOccurs='1'/>
   </xsd:sequence>
   <xsd:attribute name='Name' type='xsd:string' use='required'/>
   <xsd:attribute name='Comment' type='xsd:string' use='optional'/>
  </xsd:complexType>
 </xsd:element>

 <xsd:element name='ResourceTypeName'>
  <xsd:complexType>
   <xsd:attribute name='Name' type='xsd:string' use='required'/>
  </xsd:complexType>
 </xsd:element>

 <xsd:element name='Resource'>
  <xsd:annotation>
   <xsd:appinfo>
    <jaxb:class name="JaxbResource"/>
   </xsd:appinfo>
  </xsd:annotation>  
  <xsd:complexType>
   <xsd:sequence>
    <xsd:element ref='le:Parameter' minOccurs='0' maxOccurs='unbounded'/>
    <xsd:element ref='le:FBNetwork' minOccurs='0' maxOccurs='1'/>
   </xsd:sequence>
   <xsd:attribute name='Name' type='xsd:string' use='required'/>
   <xsd:attribute name='Type' type='xsd:string' use='required'/>
   <xsd:attribute name='Comment' type='xsd:string' use='optional'/>
   <xsd:attribute name='x' type='xsd:float' use='optional'/>
   <xsd:attribute name='y' type='xsd:float' use='optional'/>
  </xsd:complexType>
 </xsd:element>

 <xsd:element name='System'>
   <xsd:annotation>
    <xsd:appinfo>
     <jaxb:class name="JaxbSystem"/>
    </xsd:appinfo>
   </xsd:annotation>  
  <xsd:complexType>
   <xsd:sequence>
    <xsd:element ref='le:Identification' minOccurs='0' maxOccurs='1'/>
    <xsd:element ref='le:VersionInfo' maxOccurs='unbounded'/>
    <xsd:element ref='le:Application' minOccurs='0' maxOccurs='unbounded'/>
    <xsd:element ref='le:Device' maxOccurs='unbounded'/>
    <xsd:element ref='le:Mapping' minOccurs='0' maxOccurs='unbounded'/>
    <xsd:element ref='le:Segment' minOccurs='0' maxOccurs='unbounded'/>
    <xsd:element ref='le:Link' minOccurs='0' maxOccurs='unbounded'/>
   </xsd:sequence>
   <xsd:attribute name='Name' type='xsd:string' use='required'/>
   <xsd:attribute name='Comment' type='xsd:string' use='optional'/>
  </xsd:complexType>
 </xsd:element>

 <xsd:element name='Application'>
  <xsd:complexType>
   <xsd:sequence>
    <xsd:element ref='le:FBNetwork'/>
   </xsd:sequence>
   <xsd:attribute name='Name' type='xsd:string' use='required'/>
   <xsd:attribute name='Comment' type='xsd:string' use='optional'/>
  </xsd:complexType>
 </xsd:element>

 <xsd:element name='Mapping'>
  <xsd:complexType>
   <xsd:attribute name='From' type='xsd:string' use='required'/>
   <xsd:attribute name='To' type='xsd:string' use='required'/>
  </xsd:complexType>
 </xsd:element>

 <xsd:element name='Device'>
  <xsd:annotation>
   <xsd:appinfo>
    <jaxb:class name="JaxbDevice"/>
   </xsd:appinfo>
  </xsd:annotation>  
  <xsd:complexType>
   <xsd:sequence>
    <xsd:element ref='le:Parameter' minOccurs='0' maxOccurs='unbounded'/>
    <xsd:element ref='le:Resource' minOccurs='0' maxOccurs='unbounded'/>
    <xsd:element ref='le:FBNetwork' minOccurs='0' maxOccurs='1'/>
   </xsd:sequence>
   <xsd:attribute name='Name' type='xsd:string' use='required'/>
   <xsd:attribute name='Type' type='xsd:string' use='required'/>
   <xsd:attribute name='Comment' type='xsd:string' use='optional'/>
   <xsd:attribute name='x' type='xsd:float' use='optional'/>
   <xsd:attribute name='y' type='xsd:float' use='optional'/>
  </xsd:complexType>
 </xsd:element>

 <xsd:element name='DeviceParameters'>
  <xsd:complexType>
   <xsd:sequence>
    <xsd:element ref='le:Connection' maxOccurs='unbounded'/>
   </xsd:sequence>
  </xsd:complexType>
 </xsd:element>

 <xsd:element name='SubAppType'>
  <xsd:annotation>
   <xsd:appinfo>
    <jaxb:class name="JaxbSubAppType"/>
   </xsd:appinfo>
  </xsd:annotation>
  <xsd:complexType>
   <xsd:sequence>
    <xsd:element ref='le:Identification' minOccurs='0' maxOccurs='1'/>
    <xsd:element ref='le:VersionInfo' maxOccurs='unbounded'/>
    <xsd:element ref='le:CompilerInfo' minOccurs='0' maxOccurs='1'/>
    <xsd:element ref='le:SubAppInterfaceList'/>
    <xsd:element ref='le:SubAppNetwork' minOccurs='0' maxOccurs='1'/>
   </xsd:sequence>
   <xsd:attribute name='Name' type='xsd:string' use='required'/>
   <xsd:attribute name='Comment' type='xsd:string' use='optional'/>
  </xsd:complexType>
 </xsd:element>

 <xsd:element name='SubAppInterfaceList'>
  <xsd:complexType>
   <xsd:sequence>
    <xsd:element ref='le:SubAppEventInputs' minOccurs='0' maxOccurs='1'/>
    <xsd:element ref='le:SubAppEventOutputs' minOccurs='0' maxOccurs='1'/>
    <xsd:element ref='le:InputVars' minOccurs='0' maxOccurs='1'/>
    <xsd:element ref='le:OutputVars' minOccurs='0' maxOccurs='1'/>
   </xsd:sequence>
  </xsd:complexType>
 </xsd:element>

 <xsd:element name='SubAppEventInputs'>
  <xsd:complexType>
   <xsd:sequence>
    <xsd:element ref='le:SubAppEvent' maxOccurs='unbounded'/>
   </xsd:sequence>
  </xsd:complexType>
 </xsd:element>

 <xsd:element name='SubAppEventOutputs'>
  <xsd:complexType>
   <xsd:sequence>
    <xsd:element ref='le:SubAppEvent' maxOccurs='unbounded'/>
   </xsd:sequence>
  </xsd:complexType>
 </xsd:element>

 <xsd:element name='SubAppEvent'>
  <xsd:complexType>
   <xsd:attribute name='Name' type='xsd:string' use='required'/>
   <xsd:attribute name='Type' type='xsd:string' use='optional'/>
   <xsd:attribute name='Comment' type='xsd:string' use='optional'/>
  </xsd:complexType>
 </xsd:element>

 <xsd:element name='SubAppNetwork'>
  <xsd:complexType>
   <xsd:sequence>
    <xsd:element ref='le:SubApp' minOccurs='0' maxOccurs='unbounded'/>
    <xsd:element ref='le:FB' minOccurs='0' maxOccurs='unbounded'/>
    <xsd:element ref='le:EventConnections' minOccurs='0' maxOccurs='1'/>
    <xsd:element ref='le:DataConnections' minOccurs='0' maxOccurs='1'/>
   </xsd:sequence>
  </xsd:complexType>
 </xsd:element>

 <xsd:element name='SubApp'>
  <xsd:annotation>
   <xsd:appinfo>
    <jaxb:class name="JaxbSubApp"/>
   </xsd:appinfo>
  </xsd:annotation>  
  <xsd:complexType>
   <xsd:attribute name='Name' type='xsd:string' use='required'/>
   <xsd:attribute name='Type' type='xsd:string' use='required'/>
   <xsd:attribute name='Comment' type='xsd:string' use='optional'/>
   <xsd:attribute name='x' type='xsd:float' use='optional'/>
   <xsd:attribute name='y' type='xsd:float' use='optional'/>
  </xsd:complexType>
 </xsd:element>

 <xsd:element name='Segment'>
  <xsd:complexType>
   <xsd:sequence>
    <xsd:element ref='le:Parameter' minOccurs='0' maxOccurs='unbounded'/>
   </xsd:sequence>
   <xsd:attribute name='Name' type='xsd:string' use='required'/>
   <xsd:attribute name='Type' type='xsd:string' use='required'/>
   <xsd:attribute name='Comment' type='xsd:string' use='optional'/>
   <xsd:attribute name='x' type='xsd:float' use='optional'/>
   <xsd:attribute name='y' type='xsd:float' use='optional'/>
   <xsd:attribute name='dx1' type='xsd:float' use='optional'/>
  </xsd:complexType>
 </xsd:element>

 <xsd:element name='Link'>
  <xsd:complexType>
   <xsd:sequence>
    <xsd:element ref='le:Parameter' minOccurs='0' maxOccurs='unbounded'/>
   </xsd:sequence>
   <xsd:attribute name='SegmentName' type='xsd:string' use='required'/>
   <xsd:attribute name='CommResource' type='xsd:string' use='required'/>
   <xsd:attribute name='Comment' type='xsd:string' use='optional'/>
  </xsd:complexType>
 </xsd:element>

 <xsd:element name='Parameter'>
  <xsd:complexType>
   <xsd:attribute name='Name' type='xsd:string' use='required'/>
   <xsd:attribute name='Value' type='xsd:string' use='required'/>
   <xsd:attribute name='Comment' type='xsd:string' use='optional'/>
  </xsd:complexType>
 </xsd:element>
</xsd:schema>


